*{
    font-family: 'Inter';
}

body{
    font-family: 'Inter';
    background-image: linear-gradient(to top right, #FA98FF, #F6CFAA);
    color: #000;
}

button{
    background-color: #FFFFFF80;
    margin: 10px;
    padding: 5px;
    width: 100%;
    max-width: 100px;
    min-width: 75px;
    height: 35px;
    color: #000;

    border-radius: 15px;
    border-width: 2;
    border-style: solid;

    transition: 0.3s cubic-bezier(0.85, 0, 0.15, 1) 0s;
}

button:hover{
    transition: 0.3s cubic-bezier(0.85, 0, 0.15, 1) 0s;
    scale: 105%;
    box-shadow: .0px 0px 7px 0px rgba(0, 0, 0, 0.3);
}

button:active{
    transition: 0.2s cubic-bezier(0.85, 0, 0.15, 1) 0s;
    scale: 90%;
}

.pfp{
    width: 36px;
    border-radius: 15px;
    border-color: #000;
    border-width: 3px;
    border-style: solid;
    margin-right: 10px;
}

.spacer{
    width: 50px;
}

.header{
    background-color: #FFFFFF80;
    padding: 7px;
    margin: auto;
    border-radius: 15px;
    border-width: 2;
    border-style: solid;

    height: 36px;
    width: 90%;
    min-width: 125px;
    
    display: flex; 
    flex-direction: row;
	justify-content: left; 
	align-items: center;
}

.main{
    background-color: #FFFFFF80;
    padding: 7px;
    margin: auto;
    
    border-radius: 15px;
    border-color: #000;
    border-style: solid;
    border-width: 2px;

    max-width: 800px;

    height: 500px;

    overflow:hidden;
    display: flex;
}

.layer1{
    background-color: #FFFFFF80;
    padding: 7px;
    margin: auto;
    
    border-radius: 15px;
    border-color: #000;
    border-style: solid;
    border-width: 2px;

    text-align: center;

    width: 100%;

    overflow:hidden;
}

.buttoncontainer{
    background-color: #FFFFFF80;
    padding: 7px;

    border-radius: 15px;
    border-width: 2;
    border-style: solid;


    width: 355px;
    min-width: 125px;

    height: 25px;

    display: flex; 
    flex-direction: row;

	justify-content: center; 
	align-items: center; 

    position: absolute;
    
    right: 6%;

}

.contentbox{
    background-color: #FFFFFF80;
    padding: 7px;
    border-radius: 15px;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    text-align: left;

    padding: 15px;
    margin: 15px;

    width: 87%;

    height: 125px;
}

@media only screen and (min-width: 550px) {
    .header{
        min-width: 100px;
    }
    .main{
        display: flex;
    }

}
